.tab-script {
  background-image: linear-gradient(-150deg, #d550ff, #4e7bff);
  padding: 100px 0;
  nav {
    margin-bottom: 50px;
    ul {
      text-align: center;
      li {
        display: inline-block;
        width: 170px;
        height: 42px;
        line-height: 42px;
        background: rgba(255, 255, 255, 0.15);
        color: #ffffff;
        font-size: 14px;
        text-transform: uppercase;
        vertical-align: middle;
        text-align: center;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin: 0 3px;
        cursor: pointer;
      }
    }
  }

  .contents {
    position: relative;
    height: 400px;
    width: 800px;
    margin: 0 auto;
    >div {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 300px;
      margin: 0 auto;
      background: #f7f8f9;
      padding: 30px;
      opacity: 0;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-transform: translate(0, 80px);
      -moz-transform: translate(0, 80px);
      -ms-transform: translate(0, 80px);
      -o-transform: translate(0, 80px);
      transform: translate(0, 80px);
      -webkit-transition: all 1.1s cubic-bezier(0.77, 0, 0.175, 1);
      -moz-transition: all 1.1s cubic-bezier(0.77, 0, 0.175, 1);
      -ms-transition: all 1.1s cubic-bezier(0.77, 0, 0.175, 1);
      -o-transition: all 1.1s cubic-bezier(0.77, 0, 0.175, 1);
      transition: all 1.1s cubic-bezier(0.77, 0, 0.175, 1);
      &.is-active{
        opacity: 1;
        transform: none;
        z-index: 10;
      }
    }
  }
  .dots {
    text-align: center;
    .dot {
      margin: 0 3px;
      display: inline-block;
      width: 14px;
      height: 14px;
      border: 2px solid #ffffff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: transparent;
      &.is-active {
        background-color: #ff63e5;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -ms-transition: all 0.8s;
        -o-transition: all 0.8s;
        transition: all 0.8s;
      }
    }
  }
}